# SUPABASE_URL: The URL of your Supabase project.
SUPABASE_URL="https://cmjvnzsypxhtscccfmqw.supabase.co"
# SUPABASE_DB_URL: The connection string for the PostgreSQL database.
SUPABASE_DB_URL="postgres://postgres.cmjvnzsypxhtscccfmqw:Finsightt#2026_JWT$SecureKey!98xYpL7mQzR4@aws-1-us-east-1.pooler.supabase.com:5432/postgres"

# JWT_SECRET: Secret for signing JWT tokens.
JWT_SECRET="YourSecretKeyHere"

# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"
